@import '../../common/colors';

.mainProductWrap{
    .imgGroup{
        position: relative;

        .text{
            position: absolute;
            bottom: 1rem;

            width: 100%;
            margin: auto;

            padding:0 1.5rem;

            display: flex;
            justify-content: space-between;

            span{
                display: block;
                padding:0.1rem .6rem;
                border-radius: 4px;

                font-weight: 600;

                color: $app--white;
                background: rgba($color: $app--black, $alpha: .3);
            }
        }
    }

    .endow{
        font-weight: 600;

        .line{
            padding: 0 1rem;
            line-height: 1.3;
            color: $app--gray;
        }
    }

    .info{
        flex: 1;
        padding: 1rem 0;

        span{
            font-weight: 600;
        }
    }

    .price{
        border-top: 1px solid $app--border;
        padding-top: 1rem;
    }
}

.progressWrap{
    .rootProgress{
        margin-top: 1rem;
    }

    .colorPrimary {
        background: rgba($color: $app--border, $alpha: 0.6);
        border-radius: 6.25rem;
    }

    .unit{
        flex-basis: 20%;
        width: 20%;

        justify-content: space-between;

        border: 1px solid $app--border;
        padding: .1rem .5rem;
        border-radius: 0.25rem;

        background: rgba($color: #E3E9EF, $alpha: .2);
    }
}

.radioWrap{
    .label{
        color: $app--primary--01;
        font-weight: 600;
        margin-bottom: .5rem;
    }
}

.statisticalWrap{
    .statisticalItem{
        margin-bottom: 1.5rem;
    }

    .haveLabel{
        margin-top: 2rem;
        margin-bottom: 1.5rem;

        &:last-of-type{
            margin-bottom: 0;
        }
    }

}
