@font-face {
    font-family: GoogleSans;
    src: url('../../../public/fonts/GOOGLESANS-MEDIUM.OTF'),
     url('../../../public/fonts/GOOGLESANS-BOLD.OTF'),
     url('../../../public/fonts/GOOGLESANS-BOLDITALIC.OTF'),
     url('../../../public/fonts/GOOGLESANS-ITALIC.OTF'),
     url('../../../public/fonts/GOOGLESANS-MEDIUMITALIC.OTF'),
     url('../../../public/fonts/GOOGLESANS-REGULAR.OTF');
}

body{
    font-family: GoogleSans;
}